<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy N Sell</title>
</head>
<body>
    <div >  
        name : <p> <%= doc.model + " " +doc.year %></p><br>
        <% let path = "/uploads/" +doc.picture ; %>
        <img height="200cm" width="200cm" src=<%= path %> >
        <p><%= doc.describtion %></p>
        <% let url = '/profile?id=' + doc.owner %> 
        <a href=<%= url %> ><%= doc.owner%></a>
        <% if (edit) {%>
          <button type="button" name="edit">edit</button>
          <% } %>
    </div>
</body>
</html>