<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy N sell</title>
</head>

<body>


    <h1 name="greet">
        hi <%= name %>
    </h1>
    <% if (name!=="stranger"){ %>
        <% let link = '/profile?id=' + name ; %>
        <a href=<%= link %>> my profile</a>
        <% } %>
    <ul>
        <li><a href="/sell">sell</a></li>
    </ul>
    <form method="POST">
        <button value="0" name="logout"> logout </button>
    </form>
    <% for(let i=0 ;i < doc.length; i++) { %>
            <div style="border: solid ">
                    name : <p> <%= doc[i].model + " " +doc[i].year %></p><br>
                    <% let path = "/uploads/" +doc[i].picture ; %>
                    <img src=<%= path %> width="250" height="250" >
                    <form method="GET" action="/ad" >
                        <input type="hidden" name="id" value=<%=doc[i]._id %>>
                        <button type="submit"> view </button>
                    </form>
            
                </div>
        <% } %>
   

</body>

</html>